@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .image-gallery-icon svg{
    height: 80px!important;
    width: 40px!important;
  }
  .OTP_Input {
    border: 1px solid #989ba0;
  }

  .ant-modal-close{
    display: none;
  }